html {
	background-color: rgb(16, 16, 16);
	font-family: sans-serif;
	color: white;
  width: 100%;
  text-align: center;
}

#header-image {
  max-height: 320px;
  max-width: 288px;
}

.homepage-link {
  display: block;
  margin: 8px;
}

p {
  width: 34%;
  margin: 0 auto;
}

#welcome-text {
  margin-bottom: 32px;
}

a {
  color: rgb(0, 128, 255);
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 16px;
}

a:hover {
  color: rgb(0, 224, 255);
}

@media only screen and (max-width: 1080px) {

  h1 {
    font-size: 64px;
  }

  #welcome-text {
    display: none;
  }

  #Header-name {
    display: block;
  }

  #header-image {
    margin-bottom: 64px;
  }

  p {
    font-size: 32px;
  }

  a {
    font-size: 40px;
    margin-bottom: 48px;
    display: block;
  }

  .homepage-link {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 2560px) {
  p {
    width: 20%;
  }
}
