html {
	background-color: rgb(16, 16, 16);
	font-family: sans-serif;
	color: white;
  width: 100%;
}

header, main, footer {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#Header-name {
	width: 100%;
	margin: 0 auto;
}

#header-image {
  max-height: 320px;
}

.homepage-link {
  display: block;
  margin: 8px;
}

.breakline {
	border: 2px solid rgb(0, 128, 255);
}

a {
  color: rgb(0, 128, 255);
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 16px;
}

a:hover {
  color: rgb(0, 224, 255);
}

@media only screen and (max-width: 1080px) {

  h1 {
    font-size: 64px;
  }

  #Header-name {
    display: block;
  }

  p {
    font-size: 32px;
  }

  a {
    font-size: 32px;
    margin-bottom: 64px;
    display: block;
  }

  .homepage-link {
    margin-bottom: 32px;
  }
}
