:root {
  --innerColor: rgb(32, 32, 32);
}

html {
  background-color: rgb(16, 16, 16);
  color: white;
  font-family: sans-serif;
  text-align: center;
}

header, main, footer {
  width: 50%;
  margin: auto;
}

.device-input {
  background-color: var(--innerColor);
}

.input-area {
  display: grid;
  grid-template-columns: 50% 50%;
}

input {
  display: block;
  margin: auto;
}

@media only screen and (max-width: 1080px) {
  header, main, footer {
    width: 80%;
  }
  p {
    font-size: 32px;
  }

  input {
    /* padding: 16px; */
    font-size: 32px;
    width: 75%;
  }

}
