:root {
  --innerColor: rgb(32, 32, 32);
}

html {
  background-color: rgb(16, 16, 16);
  color: white;
  font-family: sans-serif;
  text-align: center;
}

label {
  vertical-align: center;
}

main {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33.4% 33.4% 33.4%;
}

#section-left {
  /*
  background-color: rgb(128, 128, 128);
  */
}

#section-center {
  display: grid;
  /*Can have input and text(e.g paragraph) on the same line this way */
  grid-template-columns: 50% 50%;
}

#section-right {
  /*
  background-color: rgb(128, 128, 128);
  */
}

.device-input {
  background-color: var(--innerColor);
}

.input-area {
  display: grid;
  grid-template-columns: 50% 50%;
}

input {
  display: block;
  margin: auto;
}

@media only screen and (max-width: 1080px) {
  header, main, footer {
    width: 100%;
  }
  p {
    font-size: 26px;
  }

  input {
    /* padding: 16px; */
    font-size: 26px;
    width: 100%;
  }

}
