html {
  background-color: rgb(16, 16, 16);
  color: white;
  text-align: center;
  font-family: sans-serif;
  width: 34%;
  margin: 0 auto;
}

p {
  margin-bottom: 32px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 128, 255);
}

a:hover {
  color: rgb(0, 224, 255);
}

.article-title {
  color: rgb(255, 0, 255);
}

.article-main-content {
  margin-bottom: 192px;
}

.article-bold {
  color: rgb(96, 255, 96);
}

.article-bottom {
  margin-top: 96px;
}

/* Improve readability on phones and lower resolution screens */
@media only screen and (max-width: 1080px) {

  html {
    width: 90%;
  }

  .article-title, h1 {
    font-size: 72px;
  }

  .article-bold, h2 {
    font-size: 48px;
  }

  p {
    font-size: 24px;
  }

  a {
    font-size: 32px;
  }
}

/* Attempt to improve readability on very high res monitors (ultrawide etc) */
@media only screen and (min-width: 2560px) {
  html {
    width: 25%;
  }
}
